<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student courses</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body{
            background-color: #3e3e3e;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Student courses</h1>
    <div class="container">
        <p>Spring boot security course</p>
        <form class="form-signin" method="GET" action="/logout">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign out</button>
        </form>
    </div>
</body>
</html>